.idea/*
target
*.class
*.o
wireshark/*
*.iml
*.log
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/Debug
**/Release
**/.vs
.settings/*
.classpath
.project
*.DS_Store
*.zip
*.jar
ods-jre*/
*.code-workspace