name: Build Native

on: [push]
#  push:
#    paths:
#      - 'src/main/java/com/boomaa/opends/usb/**'

jobs:
  native-unix:
    strategy:
      matrix:
        include:
          - { os: macos-15-intel, arch: x64, mkos: osx, mkarch: amd64, jdk: 8 }
          - { os: macos-15, arch: aarch64, mkos: osx, mkarch: aarch64, jdk: 11 } #TODO change to 8
          - { os: ubuntu-24.04, arch: x64, mkos: linux, mkarch: amd64, jdk: 8 }
          - { os: ubuntu-24.04-arm, arch: aarch64, mkos: linux, mkarch: aarch64, jdk: 8 }
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}
          architecture: ${{ matrix.arch }}
      - name: Build native library from Makefile
        run: |
          ARCH_UPPER=$(echo ${{ matrix.arch }} | tr a-z A-Z)
          JDK_PATH=$(eval echo \$JAVA_HOME_${{ matrix.jdk }}_$ARCH_UPPER)
          make native-${{ matrix.mkos }} \
            CC=gcc \
            ARCH_TYPE=${{ matrix.mkarch }} \
            UNIX_JDK_INCLUDE_PATH=$JDK_PATH/include
      - name: Get native library path
        run: |
          export "LIB_OUT_PATH=$(make lib-out-path ARCH_TYPE=${{ matrix.mkarch }})"
          echo "LIB_OUT_PATH=$LIB_OUT_PATH" >> $GITHUB_ENV
          echo "LIB_OUT_NAME=$(basename $LIB_OUT_PATH)" >> $GITHUB_ENV
      - name: Upload native library
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.LIB_OUT_NAME }}
          path: ${{ env.LIB_OUT_PATH }}
          overwrite: true
          retention-days: 7

  native-win32:
    strategy:
      matrix:
        include:
          - { os: windows-2025, arch: x64, mkarch: amd64, jdk: 8 }
          - { os: windows-11-arm, arch: aarch64, mkarch: aarch64, jdk: 21 } #TODO change to 8
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}
          architecture: ${{ matrix.arch }}
      - name: Build native library from Makefile
        shell: cmd
        run: |
          make native-win32 ^
            SHELL=cmd ^
            VS_YEAR=2022 ^
            ARCH_TYPE=${{ matrix.mkarch }} ^
            WIN32_JDK_INCLUDE_PATH=%JAVA_HOME_${{ matrix.jdk }}_${{ matrix.arch }}%\\include
      - name: Get native library path
        shell: cmd
        run: |
          for /f "tokens=*" %F in ('cmd /c "make lib-out-path ARCH_TYPE=${{ matrix.mkarch }}"') do set LIB_OUT_PATH=%F
          echo LIB_OUT_PATH=%LIB_OUT_PATH%>> %GITHUB_ENV%
          
          for /f "tokens=*" %F in ("%LIB_OUT_PATH%") do set LIB_OUT_NAME=%~nF
          echo LIB_OUT_NAME=%LIB_OUT_NAME%>> %GITHUB_ENV%
      - name: Upload native library
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.LIB_OUT_NAME }}
          path: ${{ env.LIB_OUT_PATH }}
          overwrite: true
          retention-days: 7

  commit-compiled-libraries:
    needs:
      - native-win32
#      - native-unix
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: src/main/resources/
          pattern: opends-lib-*
          merge-multiple: true
      - name: Commit and push back to repository
        run: |
          git config --global user.name "opends-bot"
          git config --global user.email "opends-bot@users.noreply.github.com"
          git add .
          git diff --staged --name-only -z \
            | xargs -0 -I{} sh -c 'echo "Comparing {}:"; git show HEAD:"$1" | cmp - "$1" || true' _ {}
          export LAST_COMMIT_HASH=$(git rev-parse --short HEAD)
          git diff-index --quiet HEAD || (git commit -m "[AUTOBUILD] Built native libraries from commit $LAST_COMMIT_HASH" && git push)