name: Build Java

on:
  push:
    paths:
      - '**.java'
      - '.github/workflows/build-java.yml'
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '8'
          architecture: x64
      - name: Build with Maven
        run: mvn -B package --file pom.xml
