name: Build Native

on: [push]

jobs:
#  native:
#    strategy:
#      matrix:
#        os: [
#          macos-15,         # osx aarch64
#          windows-2025,     # win32 x64
#          ubuntu-24.04,     # linux x64
#          macos-15-intel    # osx x64
#          windows-11-arm,   # win32 aarch64
#          ubuntu-24.04-arm  # linux aarch64
#        ]
#    runs-on: ${{ matrix.os }}
  native-win32:
    strategy:
      matrix:
        include:
          - { os: windows-2025, arch: x64 }
          - { os: windows-11-arm, env: aarch64 }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: '8'
          architecture: ${{ matrix.arch }}
      - name: Build native library from Makefile
        shell: cmd
        run: make native-win32 SHELL=cmd VS_YEAR=2022 WIN32_JDK_INCLUDE_PATH=%JAVA_HOME_8_${{ matrix.arch }}%\\include


