name: Checkstyle Java

on:
  push:
    paths:
      - '**.java'
      - '.github/workflows/checkstyle.yml'
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '8'
          architecture: x64
      - name: Build with Maven and run Checkstyle
        run: mvn -B checkstyle:check --file pom.xml
